.contact {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 1200px){
		flex-direction: row;
	}	
}

.icon {
	fill: #757575;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__envelope {
	width: 16px;
	height: 12px;
	margin-right: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.contact__link:hover &,
	.contact__link:focus & {
		fill: var(--accent-color);
	}
}

.contact__smartphone {
	width: 10px;
	height: 16px;
	margin-right: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.contact__link:hover &,
	.contact__link:focus & {
		fill: var(--accent-color);
	}
}

@media screen and (min-width: 768px){
	.contact__item:not(:last-child){
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 1200px){
	.contact__item:not(:last-child) {
		margin-bottom: 0;
		margin-right: 30px;
	}
}


.contact__link {
	color: var(--text-color);
	font-weight: 500;
	font-size: 24px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: 768px){
		font-size: 12px;
	}

	@media screen and (min-width: 1200px){
		font-size: 14px;
	}
}

.contact__link-tel{
	color: var(--accent-color);
	font-size: 34px;
}

