
.nav {
	display: flex;
	flex-direction: column;
}

// .nav__item:not(:last-child) {
// 	margin-right: 50px;
// }

.nav__page {
	color: var(--tittle-color);
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}



.nav__item--current {
	color: var(--accent-color);
	position: relative;

	// &::after {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	bottom: -28px;
	// 	width: 100%;
	// 	height: 4px;
	// 	border-radius: 2px;
	// 	background-color: var(--accent-color);
	// }
}
