.first-part {
    color: var(--accent-color);
}

.logo {
    display: inline-flex;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
}

.header__logo{
    margin-right: 93px;
}

.footer__logo{
    margin-bottom: 20px;
}
.logo--white{
    color: #ffffff;
}


